.main{
    width: 100%;
    height: 105vh;
    padding: 25px 0; 
    .main_content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .main_text{
            h1{
                font-size: 90px;
                line-height: 70px;
                font-family: pyxidium quick;
                background-image: linear-gradient(to right, #c72092, #6c14d0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: relative;   
                top: 60px;
                left: 5%;
                span{
                    font-size: 70px;
                    background-image: linear-gradient(to right, #c72092, #6c14d0);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p{
                width: 590px;
                text-align: justify;
                line-height: 21px;
                position: relative;
                top: 85px;
                left: 5%;
            }
        }
        .main_image{
            img{
                width: 530px;
                position: relative;
    /*          left: 20px;         */
                top: 75px;    
            }
        }
    }

    .social_icon{
        position: absolute;
        top: 50%;
        left: 98%;
        transform: translate(-50%, -50%);
        font-size: 19px;
        i{
            margin: 8px 0;
            cursor: pointer;
            transition: 0.3s;
        }
        i:hover{
            color: #c72092;
        }
    }

    .button{
        position: absolute;
        left: 6%;
        padding: 10px 20px;
        border-radius: 30px;
        background: linear-gradient(to right , #c72092, #6c14d0);
        transition: 0.3s;
        a{
            color: white;
            text-decoration: none;
        }
        i{
            color: white;
            margin-left: 5px;
            transition: 0.3s;
        }
    }
    .button:hover{
        transform: scale(1.1);
        i{
            transform: translateX(6px);
        }
    }
}

.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0; 
    h1{
        margin: 35px 0;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #c72092, #6c14d0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .box{
        width: 90%;
        margin: 0 auto;     
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px 0;
        .card{
            width: 290px;
            height: 440px;
            box-shadow: 0 0 8px #6c14d0;
            border-radius: 5px;
            text-align: center;
            padding: 10px 20px;
            background: #f6f6f6;
            .small-card{
                display: flex;
                flex-flow: column;
                position: absolute;
                margin: 10px 0;
                transform: translateX(-20px);
                transition: 0.3s;
                opacity: 0;
                i{
                    width: 45px;
                    height: 45px;
                    border-radius: 5px;
                    font-size: 18px;
                    margin: 2px 0;
                    line-height: 40px;
                    border: 2px solid #999999;
                    transition: 0.2s;
                }
                i:hover{
                    color: #c72092;
                }
            }
            .image{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 150px;
                    margin: 15px 0;
                    transition: 0.3s;
                }
            }
            .products_text{
                h2{
                    font-size: 30px;
                    margin-top: 15px;
                }
                p{
                    color: #91919191;
                    line-height: 21px;
                    margin: 8px 0;
                }
                h3{
                    margin: 7px 0;
                }
                .products_star{
                    color: orange;
                    margin-bottom: 19px;
                    cursor: pointer;
                }
                .btn{
                    text-decoration: none;
                    padding: 10px 20px;
                    background-image: linear-gradient(to right, #c72092, #6c14d0);
                    color: white;
                }
            }
        }
        .card:hover{
            .small-card{
                transform: translateX(2px);
                cursor: pointer;
                opacity: 1;
            }
            .image{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.about{
    width: 100%;
    height: 100vh;
    padding: 35px 0;
    margin-top: 11%;
    h1{
        font-size: 60px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background:black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        span{
            background: linear-gradient(to right, #c72092, #6c14d0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 15px;
        }
    }
    .about_main{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .about_image{
            display: flex;
            margin-top: 50px;             
                .about_small_image{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    top: 15px;
                    img{
                        height: 92px;
                        margin: 5px 0;
                        cursor: pointer;
                        background: linear-gradient(to right, #6c14d0 , #c72092);
                        display: block;
                        border-radius: 6px;
                        padding: 5px 5px;
                        box-shadow: 0 0 6px rgba(0,0,0,0.6);
                        opacity: 0.8;
                        transition: 0.3s;
                    }
                    img:hover{
                        opacity: 1; 
                    }
                }
                .image_container{
                    padding: 10px;
                    display: flex;
                    img{
                        border: 3px solid #6c14d0;
                        border-radius: 20px;
                        height: 430px;
                        padding: 30px;
                        box-shadow: 0 0 8px #6c14d0;
                    }
                }
         }
         .about_text{
             margin-top: 45px;
             p{
                background-image: linear-gradient(to left, #c72092, #6c14d0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 22px;
                width: 600px;
                text-align: justify;
                padding: 25px 30px;
                border: 2px solid #c72092;
                border-radius: 20px;
                box-shadow: 0 0 8px #c72092;
             }
         }
    } 
    .about_btn{
        color: black;
        background: none;
        position: relative;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 25px;
        border: 2px solid #c72092;
        text-decoration: none;
        box-shadow: 0 0 8px #c72092;
        transition: 0.5s;
    }
    .about_btn:hover{
        border: 2px solid transparent;
        background: #c72092;
        color: white;
    }
}

.review{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    h1{
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      text-transform: uppercase;  
      span{
        background-image: linear-gradient(to right, #c72092, #6c14d0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 15px;
      }
    }
    .review_box{
        width: 95%;
        position: relative;
        top: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:  0 auto;
        .review_card{
            width: 500px;
            background: #f3f1f1;
            padding: 20px 25px;
            border-radius: 5px;
            margin: 15px;;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            .card_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .profile{
                    display: flex;
                    align-items: center;
                        .profile_image{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 5px 0;
                        box-shadow: 0 0 10px rgba(0,0,0,0.5);
                        cursor: pointer;
                        transition: 0.3s;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    .profile_image:hover{
                        transform: scale(1.2);
                    }
                    .name{
                        margin-left: 20px;
                        line-height: 22px;
                        strong{
                            font-size: 20px;
                        }
                        .like{
                            i{
                                color: orange;
                                display: inline-block;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .comment{
                p{
                    text-align: justify;
                    line-height: 22px;
                    margin-top: 15px;

                }
            }
        }


       
    }
}

.services{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 10px 0;
    h1{
        font-size: 60px;
        text-transform: uppercase;
        span{
            background-image: linear-gradient(to right, #c72092, #6c14d0);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 15px;
        }
    }   
    .services_cards{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 50px;
        .services_box{
          i{
            font-size: 60px;
            color: orange;
            margin: 20px 0;
            cursor: pointer;
          }
          h3{
            margin-bottom: 12px;
            font-size: 19px;
          }
          p{
            text-align: center;
            color: #919191;
            margin-bottom: 60px;
          }
        }
    }
}

.login_form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/loging_bg.png");
    background-size: cover;
    background-position: center;
    .left{
        img{
            width: 650px;
        }
    }
    .right{
        position: relative;
        top: -50px;
        left: -60px;
        padding: 50px 80px;
        h1{
            font-family: prevattscriptssk;
            font-size: 45px;
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 5px;
        }
        .user{
            border: 2px solid #6c14d0;
            border-radius: 5px;
            width: 350px;
            height: 40px;
            display: flex;
            i{
                position: relative;
                top: 9px;
                left: 15px;
                color: #c72092;
            }
            .username{
                position: relative;
                left: 9%;
                width: 295px;
                background: none;
                outline: none;
                border: none;
                display: flex;
                font-size: 15px;
            }
        }
        .passworg_tag{
            margin: 15px 0 5px 0;
        }
        .password{
            border:  2px solid #6c14d0;
            border-radius: 5px;
            width: 350px;
            height: 40px;
            display: flex;
            i{
                position: relative;
                top: 9px;
                left: 15px;
                color: #c72092;
            }
            input{
                position: relative;
                left: 9%;
                width: 295px;
                background: none;
                border: none;
                outline: none;
                display: flex;
                font-size: 15px;
                ::-webkit-input-placeholder{
                    color: black;
                    opacity: 0.7;
                }
            }
        }
        .forget{
            position: relative;
            left: 60%;
            margin: 6px 0 10px 0;
            cursor: pointer;
        }
        button{
            width: 350px;
            color: white;
            padding: 7px 20px;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
            background: linear-gradient(to right, #c72092, #6c14d0); 
        }
        .loging_icon{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            a{
               width: 30px;
               height: 30px;
               margin: 0 2px;
               border-radius: 50%;
               background: #f3f3f3;
               box-shadow: 0 0 5px rgba(0,0,0,0.6); 
            }
            img{
                width: 20px;
                margin: 5px 5px;
            }
        }
    }
}   